/public_html/images/uploads
/public_html/uploads/images
/.idea
/vendor
/node_modules
/public_html/min/

.env
/nbproject

.env.local
.env.test
.env.staging
.env.production

composer.phar

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.DS_Store